pkgbase = gofer-flow
	pkgdesc = Local workflow automation studio for Raticode
	pkgver = 0.3.4
	pkgrel = 1
	url = https://github.com/zacharyivie/gofer-flow
	arch = x86_64
	license = AGPL-3.0-only
	depends = fuse2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libxss
	depends = libxtst
	depends = nss
	depends = xdg-utils
	options = !strip
	source = gofer-flow
	source = gofer-flow.desktop
	source = gofer-flow.svg
	sha256sums = d47d296d0ee293e7f2bc46c6997dd44b327c0699548c71b1d80abed020d97973
	sha256sums = 3bc092d4b9b9d4f13c0da69496b82e16958dbc5364d2075379a3381d34218db6
	sha256sums = 5f23b392f8adf4b863c4a03c47319aaafba72b762830a4427272c6ab71f8f6e1
	source_x86_64 = Raticode-0.3.4-x86_64.AppImage::https://github.com/zacharyivie/gofer-flow/releases/download/v0.3.4/Raticode-0.3.4-x86_64.AppImage
	sha256sums_x86_64 = 4b25cea0265aeb1d7508ed3597c0955e51a0e77ddda40278834b75456d2f1696

pkgname = gofer-flow
